<!DOCTYPE html>
<html>
  <head>
    <style data-next-hide-fouc="true">
      body {
        display: none;
      }
    </style>
    <noscript data-next-hide-fouc="true"
      ><style>
        body {
          display: block;
        }
      </style></noscript
    >
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Kevin Camargo Barreda</title>
    <meta name="next-head-count" content="3" />
    <noscript data-n-css=""></noscript>
    <script
      defer=""
      nomodule=""
      src="/_next/static/chunks/polyfills.js?ts=1688447658592"
    ></script>
    <script
      src="/_next/static/chunks/webpack.js?ts=1688447658592"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/main.js?ts=1688447658592"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/pages/_app.js?ts=1688447658592"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/pages/home.js?ts=1688447658592"
      defer=""
    ></script>
    <script
      src="/_next/static/development/_buildManifest.js?ts=1688447658592"
      defer=""
    ></script>
    <script
      src="/_next/static/development/_ssgManifest.js?ts=1688447658592"
      defer=""
    ></script>
    <noscript id="__next_css__DO_NOT_USE__"></noscript>
  </head>
  <body>
    <div id="__next">
      <section class="header">
        <div class="header__logo">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-tabler"
            width="72"
            height="72"
            viewBox="0 0 24 24"
            stroke="#2F80ED"
            fill="none"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M8 9l3 3l-3 3"></path>
            <line x1="13" y1="15" x2="16" y2="15" opacity="0"></line>
            <rect x="4" y="4" width="16" height="16" rx="4"></rect>
          </svg>
        </div>
        <h1>Kevin Camargo</h1>
        <div class="header__toggle">
          <button
            type="button"
            role="switch"
            aria-checked="true"
            class="ant-switch fade-in css-dev-only-do-not-override-14wwjjs ant-switch-checked"
          >
            <div class="ant-switch-handle"></div>
            <span class="ant-switch-inner"
              ><span class="ant-switch-inner-checked">🌞</span
              ><span class="ant-switch-inner-unchecked">🌙</span></span
            >
          </button>
        </div>
      </section>
      <section class="hero">
        <div class="hero__content">
          <p class="hero__content--hi">
            Hi <span class="hero__content--hand">👋</span>, I&#x27;m
          </p>
          <div class="hero__content--title"><h2>FrontEnd Developer</h2></div>
          <p class="hero__content--call">and make amazing webs!</p>
          <p class="hero__content--description">
            Front end developer con más de 2 años de experiencia desarrollando
            productos digitales con JavaScript, VueJs, ReactJs y Laravel.
          </p>
        </div>
        <div class="hero__img">
          <img
            src="/_next/static/media/developerLigth.6acfb1d5.svg"
            class="slide-fwd-center"
            alt="developer web"
          />
        </div>
      </section>
      <div class="title">
        <div class="title__lineAfter"></div>
        <h2 class="title__text">Portafolio Front end Developer</h2>
        <div class="title__lineBefore"></div>
      </div>
      <div class="title">
        <div class="title__lineAfter"></div>
        <h2 class="title__text">About me</h2>
        <div class="title__lineBefore"></div>
      </div>
      <div class="portfolio">
        <div class="card">
          <div class="card__img">
            <div class="ant-image css-dev-only-do-not-override-14wwjjs">
              <img
                class="ant-image-img"
                src="https://firebasestorage.googleapis.com/v0/b/portfolio-b1763.appspot.com/o/FireShot%20Capture%20015%20-%20React%20App%20-%20localhost.png?alt=media&amp;token=bab643fc-3bcd-4ff1-a720-eafd07ce4384"
              />
              <div class="ant-image-mask">
                <div class="ant-image-mask-info">
                  <span role="img" aria-label="eye" class="anticon anticon-eye"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="eye"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                      ></path></svg></span
                  >Preview
                </div>
              </div>
            </div>
            <div style="display: none">
              <div class="ant-image css-dev-only-do-not-override-14wwjjs">
                <img
                  class="ant-image-img"
                  src="https://firebasestorage.googleapis.com/v0/b/portfolio-b1763.appspot.com/o/FireShot%20Capture%20015%20-%20React%20App%20-%20localhost.png?alt=media&amp;token=bab643fc-3bcd-4ff1-a720-eafd07ce4384"
                />
                <div class="ant-image-mask">
                  <div class="ant-image-mask-info">
                    <span
                      role="img"
                      aria-label="eye"
                      class="anticon anticon-eye"
                      ><svg
                        viewBox="64 64 896 896"
                        focusable="false"
                        data-icon="eye"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                        ></path></svg></span
                    >Preview
                  </div>
                </div>
              </div>
              <div class="ant-image css-dev-only-do-not-override-14wwjjs">
                <img
                  class="ant-image-img"
                  src="https://firebasestorage.googleapis.com/v0/b/portfolio-b1763.appspot.com/o/FireShot%20Capture%20017%20-%20React%20App%20-%20localhost.png?alt=media&amp;token=5c191f9c-a43a-4c9b-a3b6-cc5e68cd5d9a"
                />
                <div class="ant-image-mask">
                  <div class="ant-image-mask-info">
                    <span
                      role="img"
                      aria-label="eye"
                      class="anticon anticon-eye"
                      ><svg
                        viewBox="64 64 896 896"
                        focusable="false"
                        data-icon="eye"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                        ></path></svg></span
                    >Preview
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card__content">
            <div class="card__content--title">
              <h3>TodoReact - gestión de tareas</h3>
            </div>
            <div class="card__content--content">
              <p>
                Gestiona tus tareas del día, márcalas como completadas, elimina
                y busca tus TODOs.
              </p>
            </div>
            <div class="card__content--tech">
              <em>Stack:</em>
              <ul>
                <li>React</li>
                <li>Sass</li>
              </ul>
            </div>
          </div>
          <div class="card__buttons">
            <button type="button">Ver online</button
            ><button type="button">Ver repositorio</button>
          </div>
        </div>
        <div class="card">
          <div class="card__img">
            <div class="ant-image css-dev-only-do-not-override-14wwjjs">
              <img
                class="ant-image-img"
                src="https://firebasestorage.googleapis.com/v0/b/portfolio-b1763.appspot.com/o/cover_pasarela.png?alt=media&amp;token=a20edeac-8df0-4775-8f03-c61732164909"
              />
              <div class="ant-image-mask">
                <div class="ant-image-mask-info">
                  <span role="img" aria-label="eye" class="anticon anticon-eye"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="eye"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                      ></path></svg></span
                  >Preview
                </div>
              </div>
            </div>
            <div style="display: none">
              <div class="ant-image css-dev-only-do-not-override-14wwjjs">
                <img
                  class="ant-image-img"
                  src="https://firebasestorage.googleapis.com/v0/b/portfolio-b1763.appspot.com/o/seguro4.png?alt=media&amp;token=e32f26ce-0e9c-4b9e-9f95-703e684744e5"
                />
                <div class="ant-image-mask">
                  <div class="ant-image-mask-info">
                    <span
                      role="img"
                      aria-label="eye"
                      class="anticon anticon-eye"
                      ><svg
                        viewBox="64 64 896 896"
                        focusable="false"
                        data-icon="eye"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                        ></path></svg></span
                    >Preview
                  </div>
                </div>
              </div>
              <div class="ant-image css-dev-only-do-not-override-14wwjjs">
                <img
                  class="ant-image-img"
                  src="https://firebasestorage.googleapis.com/v0/b/portfolio-b1763.appspot.com/o/seguro1.png?alt=media&amp;token=c01aacc2-c20b-4a6b-b8a2-11015d766706"
                />
                <div class="ant-image-mask">
                  <div class="ant-image-mask-info">
                    <span
                      role="img"
                      aria-label="eye"
                      class="anticon anticon-eye"
                      ><svg
                        viewBox="64 64 896 896"
                        focusable="false"
                        data-icon="eye"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                        ></path></svg></span
                    >Preview
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card__content">
            <div class="card__content--title">
              <h3>Pasarela para seguro de vida</h3>
            </div>
            <div class="card__content--content">
              <p>
                Gestiona tu seguro de vida para ti y tu familia. Un emulador de
                una pasarela de Gestión de seguro familiar.
              </p>
            </div>
            <div class="card__content--tech">
              <em>Stack:</em>
              <ul>
                <li>React</li>
                <li>Sass</li>
              </ul>
            </div>
          </div>
          <div class="card__buttons">
            <button type="button">Ver online</button
            ><button type="button">Ver repositorio</button>
          </div>
        </div>
        <div class="card">
          <div class="card__img">
            <div class="ant-image css-dev-only-do-not-override-14wwjjs">
              <img
                class="ant-image-img"
                src="https://firebasestorage.googleapis.com/v0/b/portfolio-b1763.appspot.com/o/cover_pokemon.png?alt=media&amp;token=c6e9834a-34bd-4721-af4d-540530e88704"
              />
              <div class="ant-image-mask">
                <div class="ant-image-mask-info">
                  <span role="img" aria-label="eye" class="anticon anticon-eye"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="eye"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                      ></path></svg></span
                  >Preview
                </div>
              </div>
            </div>
            <div style="display: none">
              <div class="ant-image css-dev-only-do-not-override-14wwjjs">
                <img
                  class="ant-image-img"
                  src="https://firebasestorage.googleapis.com/v0/b/portfolio-b1763.appspot.com/o/pokedex1.png?alt=media&amp;token=1c2ee9b3-6365-40c8-9db6-4760d4f2e027"
                />
                <div class="ant-image-mask">
                  <div class="ant-image-mask-info">
                    <span
                      role="img"
                      aria-label="eye"
                      class="anticon anticon-eye"
                      ><svg
                        viewBox="64 64 896 896"
                        focusable="false"
                        data-icon="eye"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                        ></path></svg></span
                    >Preview
                  </div>
                </div>
              </div>
              <div class="ant-image css-dev-only-do-not-override-14wwjjs">
                <img
                  class="ant-image-img"
                  src="https://firebasestorage.googleapis.com/v0/b/portfolio-b1763.appspot.com/o/pokedex2.png?alt=media&amp;token=556c82e9-8366-4877-943f-f25e897b2069"
                />
                <div class="ant-image-mask">
                  <div class="ant-image-mask-info">
                    <span
                      role="img"
                      aria-label="eye"
                      class="anticon anticon-eye"
                      ><svg
                        viewBox="64 64 896 896"
                        focusable="false"
                        data-icon="eye"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                        ></path></svg></span
                    >Preview
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card__content">
            <div class="card__content--title"><h3>Vue Pokedex</h3></div>
            <div class="card__content--content">
              <p>
                Muestra todos los poquemones, agregalos a tu Pokedex ademas
                puedes compartir los skills de cada Pokemon.
              </p>
            </div>
            <div class="card__content--tech">
              <em>Stack:</em>
              <ul>
                <li>VueJs</li>
                <li>Sass</li>
                <li>VueRouter</li>
                <li>Vuex</li>
              </ul>
            </div>
          </div>
          <div class="card__buttons">
            <button type="button">Ver online</button
            ><button type="button">Ver repositorio</button>
          </div>
        </div>
        <div class="card">
          <div class="card__img">
            <div class="ant-image css-dev-only-do-not-override-14wwjjs">
              <img
                class="ant-image-img"
                src="https://firebasestorage.googleapis.com/v0/b/portfolio-b1763.appspot.com/o/cover_criptomercado.png?alt=media&amp;token=22b68db1-16bc-498c-8c55-f0c0ca023e16"
              />
              <div class="ant-image-mask">
                <div class="ant-image-mask-info">
                  <span role="img" aria-label="eye" class="anticon anticon-eye"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="eye"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                      ></path></svg></span
                  >Preview
                </div>
              </div>
            </div>
            <div style="display: none">
              <div class="ant-image css-dev-only-do-not-override-14wwjjs">
                <img
                  class="ant-image-img"
                  src="https://firebasestorage.googleapis.com/v0/b/portfolio-b1763.appspot.com/o/criptomercado3.png?alt=media&amp;token=780cd9f8-122b-47c5-9bf3-abde87beb954"
                />
                <div class="ant-image-mask">
                  <div class="ant-image-mask-info">
                    <span
                      role="img"
                      aria-label="eye"
                      class="anticon anticon-eye"
                      ><svg
                        viewBox="64 64 896 896"
                        focusable="false"
                        data-icon="eye"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                        ></path></svg></span
                    >Preview
                  </div>
                </div>
              </div>
              <div class="ant-image css-dev-only-do-not-override-14wwjjs">
                <img
                  class="ant-image-img"
                  src="https://firebasestorage.googleapis.com/v0/b/portfolio-b1763.appspot.com/o/criptomercado2.png?alt=media&amp;token=b778a1da-e94c-477a-b184-408d22787ea5"
                />
                <div class="ant-image-mask">
                  <div class="ant-image-mask-info">
                    <span
                      role="img"
                      aria-label="eye"
                      class="anticon anticon-eye"
                      ><svg
                        viewBox="64 64 896 896"
                        focusable="false"
                        data-icon="eye"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                        ></path></svg></span
                    >Preview
                  </div>
                </div>
              </div>
              <div class="ant-image css-dev-only-do-not-override-14wwjjs">
                <img
                  class="ant-image-img"
                  src="https://firebasestorage.googleapis.com/v0/b/portfolio-b1763.appspot.com/o/criptomercado1.png?alt=media&amp;token=3cb3c220-b35d-4fc3-84bc-6d120e4d290b"
                />
                <div class="ant-image-mask">
                  <div class="ant-image-mask-info">
                    <span
                      role="img"
                      aria-label="eye"
                      class="anticon anticon-eye"
                      ><svg
                        viewBox="64 64 896 896"
                        focusable="false"
                        data-icon="eye"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                        ></path></svg></span
                    >Preview
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card__content">
            <div class="card__content--title"><h3>Criptomercado VueJS</h3></div>
            <div class="card__content--content">
              <p>
                Sigue minuto a minuto la volatilidad de las criptomonedas,
                convierte cualquier criptomoneda a USD y viceversa. Api rest
                proporcionada por Coincap.io
              </p>
            </div>
            <div class="card__content--tech">
              <em>Stack:</em>
              <ul>
                <li>VueJs</li>
                <li>API</li>
                <li>Sass</li>
              </ul>
            </div>
          </div>
          <div class="card__buttons">
            <button type="button">Ver online</button
            ><button type="button">Ver repositorio</button>
          </div>
        </div>
        <div class="card">
          <div class="card__img">
            <div class="ant-image css-dev-only-do-not-override-14wwjjs">
              <img
                class="ant-image-img"
                src="https://firebasestorage.googleapis.com/v0/b/portfolio-b1763.appspot.com/o/cover_whereismymoney.png?alt=media&amp;token=4a94b966-5935-42e0-8391-de992590f027"
              />
              <div class="ant-image-mask">
                <div class="ant-image-mask-info">
                  <span role="img" aria-label="eye" class="anticon anticon-eye"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="eye"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                      ></path></svg></span
                  >Preview
                </div>
              </div>
            </div>
            <div style="display: none">
              <div class="ant-image css-dev-only-do-not-override-14wwjjs">
                <img
                  class="ant-image-img"
                  src="https://firebasestorage.googleapis.com/v0/b/portfolio-b1763.appspot.com/o/whereismymoney2.png?alt=media&amp;token=cf9974c5-0a8d-444a-bc54-8304869f5514"
                />
                <div class="ant-image-mask">
                  <div class="ant-image-mask-info">
                    <span
                      role="img"
                      aria-label="eye"
                      class="anticon anticon-eye"
                      ><svg
                        viewBox="64 64 896 896"
                        focusable="false"
                        data-icon="eye"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                        ></path></svg></span
                    >Preview
                  </div>
                </div>
              </div>
              <div class="ant-image css-dev-only-do-not-override-14wwjjs">
                <img
                  class="ant-image-img"
                  src="https://firebasestorage.googleapis.com/v0/b/portfolio-b1763.appspot.com/o/whereismymoney1.png?alt=media&amp;token=8006a604-273a-480f-b65b-414a8ef1936b"
                />
                <div class="ant-image-mask">
                  <div class="ant-image-mask-info">
                    <span
                      role="img"
                      aria-label="eye"
                      class="anticon anticon-eye"
                      ><svg
                        viewBox="64 64 896 896"
                        focusable="false"
                        data-icon="eye"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                        ></path></svg></span
                    >Preview
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card__content">
            <div class="card__content--title"><h3>Where is my money?</h3></div>
            <div class="card__content--content">
              <p>
                Controlas los gastos e ingresos que tienes, manten un balance de
                tus gastos en una cuenta privada.
              </p>
            </div>
            <div class="card__content--tech">
              <em>Stack:</em>
              <ul>
                <li>Laravel</li>
                <li>SaSS</li>
                <li>Livewire</li>
              </ul>
            </div>
          </div>
          <div class="card__buttons">
            <button type="button">Ver online</button>
          </div>
        </div>
        <div class="card">
          <div class="card__img">
            <div class="ant-image css-dev-only-do-not-override-14wwjjs">
              <img
                class="ant-image-img"
                src="https://firebasestorage.googleapis.com/v0/b/portfolio-b1763.appspot.com/o/cover_dau.png?alt=media&amp;token=aff98e0f-fa87-49ab-83b1-47bf2d9be0d7"
              />
              <div class="ant-image-mask">
                <div class="ant-image-mask-info">
                  <span role="img" aria-label="eye" class="anticon anticon-eye"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="eye"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                      ></path></svg></span
                  >Preview
                </div>
              </div>
            </div>
            <div style="display: none">
              <div class="ant-image css-dev-only-do-not-override-14wwjjs">
                <img
                  class="ant-image-img"
                  src="https://firebasestorage.googleapis.com/v0/b/portfolio-b1763.appspot.com/o/congresodau5.png?alt=media&amp;token=e82c6ee2-aa29-4557-a72e-6ec14ad30af8"
                />
                <div class="ant-image-mask">
                  <div class="ant-image-mask-info">
                    <span
                      role="img"
                      aria-label="eye"
                      class="anticon anticon-eye"
                      ><svg
                        viewBox="64 64 896 896"
                        focusable="false"
                        data-icon="eye"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                        ></path></svg></span
                    >Preview
                  </div>
                </div>
              </div>
              <div class="ant-image css-dev-only-do-not-override-14wwjjs">
                <img
                  class="ant-image-img"
                  src="https://firebasestorage.googleapis.com/v0/b/portfolio-b1763.appspot.com/o/congresodau4.png?alt=media&amp;token=fc77fa96-8405-4360-bdad-0d043e125320"
                />
                <div class="ant-image-mask">
                  <div class="ant-image-mask-info">
                    <span
                      role="img"
                      aria-label="eye"
                      class="anticon anticon-eye"
                      ><svg
                        viewBox="64 64 896 896"
                        focusable="false"
                        data-icon="eye"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                        ></path></svg></span
                    >Preview
                  </div>
                </div>
              </div>
              <div class="ant-image css-dev-only-do-not-override-14wwjjs">
                <img
                  class="ant-image-img"
                  src="https://firebasestorage.googleapis.com/v0/b/portfolio-b1763.appspot.com/o/congresodau3.png?alt=media&amp;token=71b5005a-53da-45e4-b20c-d98182d68c79"
                />
                <div class="ant-image-mask">
                  <div class="ant-image-mask-info">
                    <span
                      role="img"
                      aria-label="eye"
                      class="anticon anticon-eye"
                      ><svg
                        viewBox="64 64 896 896"
                        focusable="false"
                        data-icon="eye"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                        ></path></svg></span
                    >Preview
                  </div>
                </div>
              </div>
              <div class="ant-image css-dev-only-do-not-override-14wwjjs">
                <img
                  class="ant-image-img"
                  src="https://firebasestorage.googleapis.com/v0/b/portfolio-b1763.appspot.com/o/congresodau1.png?alt=media&amp;token=b10d470d-8a85-4da1-a483-3305daa26103"
                />
                <div class="ant-image-mask">
                  <div class="ant-image-mask-info">
                    <span
                      role="img"
                      aria-label="eye"
                      class="anticon anticon-eye"
                      ><svg
                        viewBox="64 64 896 896"
                        focusable="false"
                        data-icon="eye"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                        ></path></svg></span
                    >Preview
                  </div>
                </div>
              </div>
              <div class="ant-image css-dev-only-do-not-override-14wwjjs">
                <img
                  class="ant-image-img"
                  src="https://firebasestorage.googleapis.com/v0/b/portfolio-b1763.appspot.com/o/congresodau2.png?alt=media&amp;token=395f144a-4977-47f6-995d-a1d1691954e4"
                />
                <div class="ant-image-mask">
                  <div class="ant-image-mask-info">
                    <span
                      role="img"
                      aria-label="eye"
                      class="anticon anticon-eye"
                      ><svg
                        viewBox="64 64 896 896"
                        focusable="false"
                        data-icon="eye"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                        ></path></svg></span
                    >Preview
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card__content">
            <div class="card__content--title">
              <h3>Web para congreso Dau - Holding</h3>
            </div>
            <div class="card__content--content">
              <p>
                Junto al equipo de Diseño creamos un sistema para transmitir el
                V congreso de Logoterapia y Tanatologia Lima - 2021
              </p>
            </div>
            <div class="card__content--tech">
              <em>Stack:</em>
              <ul>
                <li>Laravel</li>
                <li>Livewire</li>
                <li>Webpack</li>
                <li>Sass</li>
                <li></li>
              </ul>
            </div>
          </div>
          <div class="card__buttons">
            <button type="button" style="font-style: italic">
              No disponible
            </button>
          </div>
        </div>
      </div>
      <div class="title">
        <div class="title__lineAfter"></div>
        <h2 class="title__text">Experience</h2>
        <div class="title__lineBefore"></div>
      </div>
      <div class="experience">
        <div
          class="ant-tabs ant-tabs-left ant-tabs-large tabs css-dev-only-do-not-override-14wwjjs"
          style="color: #697477; font-size: 1.6rem"
        >
          <div role="tablist" class="ant-tabs-nav">
            <div class="ant-tabs-nav-wrap">
              <div
                class="ant-tabs-nav-list"
                style="transform: translate(0px, 0px)"
              >
                <div data-node-key="1" class="ant-tabs-tab ant-tabs-tab-active">
                  <div
                    role="tab"
                    aria-selected="true"
                    class="ant-tabs-tab-btn"
                    tabindex="0"
                  >
                    ID4 @IoT
                  </div>
                </div>
                <div data-node-key="2" class="ant-tabs-tab">
                  <div
                    role="tab"
                    aria-selected="false"
                    class="ant-tabs-tab-btn"
                    tabindex="0"
                  >
                    Dau Holding
                  </div>
                </div>
                <div data-node-key="3" class="ant-tabs-tab">
                  <div
                    role="tab"
                    aria-selected="false"
                    class="ant-tabs-tab-btn"
                    tabindex="0"
                  >
                    WalikyTI
                  </div>
                </div>
                <div class="ant-tabs-ink-bar ant-tabs-ink-bar-animated"></div>
              </div>
            </div>
            <div class="ant-tabs-nav-operations ant-tabs-nav-operations-hidden">
              <button
                type="button"
                class="ant-tabs-nav-more"
                style="visibility: hidden; order: 1"
                tabindex="-1"
                aria-hidden="true"
                aria-haspopup="listbox"
                aria-controls="null-more-popup"
                id="null-more"
                aria-expanded="false"
              >
                <span
                  role="img"
                  aria-label="ellipsis"
                  class="anticon anticon-ellipsis"
                  ><svg
                    viewBox="64 64 896 896"
                    focusable="false"
                    data-icon="ellipsis"
                    width="1em"
                    height="1em"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      d="M176 511a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0z"
                    ></path></svg
                ></span>
              </button>
            </div>
          </div>
          <div class="ant-tabs-content-holder">
            <div class="ant-tabs-content ant-tabs-content-left">
              <div
                role="tabpanel"
                tabindex="0"
                aria-hidden="false"
                class="ant-tabs-tabpane ant-tabs-tabpane-active"
              >
                Apoyé al equipo de desarrolladores del rubro financiero a dar
                mantenimiento y desarrollar nuevos proyectos que ayduen a
                mejorar la comunicación con su cartera de clientes.<br /><br />
                <div>
                  <p>
                    - Mejoré el performance de los aplicativos en un 25%
                    aplicando buenas prácticas de código y migrando los recursos
                    a Firebase.
                  </p>
                  <p>
                    - Colaboré con el equipo de marketing mejorando en un 40% la
                    data del detalli de visitas en la web, personalizando el
                    script de google analitycs.
                  </p>
                </div>
                <p>
                  - Reducí el tiempo de creación de nuevos productos en un 30%,
                  desarrollando templates, y componentes reusables.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="title">
        <div class="title__lineAfter"></div>
        <h2 class="title__text">Technologies</h2>
        <div class="title__lineBefore"></div>
      </div>
      <section class="tecnologies">
        <div class="tecnologies__item">
          <img
            src="/_next/static/media/javascript.9b50b767.svg"
            alt="javascript"
          />
          <p>JavaScript</p>
        </div>
        <div class="tecnologies__item">
          <img src="/_next/static/media/laravel.f2ec498a.svg" alt="Laravel" />
          <p>Laravel</p>
        </div>
        <div class="tecnologies__item">
          <img src="/_next/static/media/react.f3f97090.svg" alt="ReactJs" />
          <p>ReactJS</p>
        </div>
        <div class="tecnologies__item">
          <img src="/_next/static/media/vue.db93bb4e.svg" alt="VueJS" />
          <p>VueJS</p>
        </div>
        <div class="tecnologies__item">
          <img src="/_next/static/media/sass.9a0cd1d3.svg" alt="Sass" />
          <p>Sass</p>
        </div>
        <div class="tecnologies__item">
          <img src="/_next/static/media/webpack.d57dc99c.svg" alt="Webpack" />
          <p>Webpack</p>
        </div>
      </section>
    </div>
    <script src="/_next/static/chunks/react-refresh.js?ts=1688447658592"></script>
    <script id="__NEXT_DATA__" type="application/json">
      {
        "props": { "pageProps": {} },
        "page": "/home",
        "query": {},
        "buildId": "development",
        "nextExport": true,
        "autoExport": true,
        "isFallback": false,
        "scriptLoader": []
      }
    </script>
  </body>
</html>
