@import "../../style/style.scss";

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--fuente-principal);
  padding: 8px;
  font-size: 2.2rem;
  padding: 4px;
  color: var(--bg-color);
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > p {
    max-width: 1100px;
    margin-bottom: 20px;
  }
}
