.theme {
  text-align: center;

  > h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  > h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
  > h3,
  h4 {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  p {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
}
section {
  padding: 2rem;
}
